name: "Full checks"

on:
  pull_request:
  push:
    branches:
      - main


jobs:
  full-checks:
    name: "PHP version ${{ matrix.php-version }}"

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.0"
          - "8.1"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          tools: composer

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: "php-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}"
          restore-keys: "php-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress"


      - name: "Full CI"
        run: "composer all"
